/*
	Colour Palette
	- Green 1: #529C73 - rgb(82,156,115)
	- Green 2: #3C7D4C - rgb(60,125,76)
	- Blue 1: #537FA7 - rgb(83,127,167)
	- Blue 2: #006991 - rgb(0,105,145)
	- Blue 3: #314A67 - rgb(49,74,103)
	- Blue 4: #003239 - rgb(0,50,57)
	- Yellow: #E8B254 - rgb(232,178,84)
 */
 
/* Formating for the different states of the buttons */
  
.btn,
.btn:link,
.btn:visited
.btn:hover{
	display:inline-block;
	padding: 0.75em 1em;
	background-color: #507F64; background-image: -webkit-gradient(linear, left top, left bottom, from(#eab92d), to(#c79810));
	background-image: -webkit-linear-gradient(top, #529C73, #3C7D4C);
	background-image: -moz-linear-gradient(top, #529C73, #3C7D4C);
	background-image: -ms-linear-gradient(top, #529C73, #3C7D4C);
	background-image: -o-linear-gradient(top, #529C73, #3C7D4C);
	background-image: linear-gradient(to bottom, #529C73, #3C7D4C);
	border-radius: 6px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
	font-weight: bold;
	margin-bottom: 0.5em;
}

/* Formating for when hover a button */

.btn:hover{
	background-color: #529C73; background-image: -webkit-gradient(linear, left top, left bottom, from(#3C7D4C), to(#529C73));
	background-image: -webkit-linear-gradient(top, #3C7D4C, #529C73);
	background-image: -moz-linear-gradient(top, #3C7D4C, #529C73);
	background-image: -ms-linear-gradient(top, #3C7D4C, #529C73);
	background-image: -o-linear-gradient(top, #3C7D4C, #529C73);
	background-image: linear-gradient(to bottom, #3C7D4C, #529C73);
}

/* Formating for when visiting a link */

.btn-alt,
.btn-alt:link,
.btn-alt:visited
.btn-alt:hover {
	background-color: #006991;
	background-image: linear-gradient(to bottom, #006991, #314A67);
	border-radius: 50px;
	background-color: #006991; background-image: -webkit-gradient(linear, left top, left bottom, from(#006991), to(#1c5a85));
	background-image: -webkit-linear-gradient(top, #006991, #314A67);
	background-image: -moz-linear-gradient(top, #006991, #314A67);
	background-image: -ms-linear-gradient(top, #006991, #314A67);
	background-image: -o-linear-gradient(top, #006991, #314A67);
	background-image: linear-gradient(to bottom, #006991, #314A67);
}

/* Formating for when hovering a button */

.btn-alt:hover{
	background-color: #26759e; background-image: -webkit-gradient(linear, left top, left bottom, from(#314A67), to(#006991));
	background-image: -webkit-linear-gradient(top, #314A67, #006991);
	background-image: -moz-linear-gradient(top, #314A67, #006991);
	background-image: -ms-linear-gradient(top, #314A67, #006991);
	background-image: -o-linear-gradient(top, #314A67, #006991);
	background-image: linear-gradient(to bottom, #314A67, #006991);
}