/*
	Colour Palette
	- Green 1: #529C73 - rgb(82,156,115)
	- Green 2: #3C7D4C - rgb(60,125,76)
	- Blue 1: #537FA7 - rgb(83,127,167)
	- Blue 2: #006991 - rgb(0,105,145)
	- Blue 3: #314A67 - rgb(49,74,103)
	- Blue 4: #003239 - rgb(0,50,57)
	- Yellow: #E8B254 - rgb(232,178,84)
 */
 
/* Formating for the different states of the buttons */
  
.btn,
.btn:link,
.btn:visited {
	display: inline-block;
	padding: 0.75em 1em;
	margin: 0 0 1.5rem;
	background-color: #793284;
	background-image: linear-gradient(to bottom, #793284, #571062);
	border-radius: 6px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
	color: #FFFFFF;
	font-weight: lighter;
	border-bottom: 0;
}

.btn-alt,
.btn-alt:link,
.btn-alt:visited {
	margin: 0 0 1.5rem;
	background-color: #5d8432;
	background-image: linear-gradient(to bottom, #5d8432, #3b6210);
}

.btn2,
.btn2:link,
.btn2:visited {
	display: inline-block;
	padding: 0.75em 1em;
	margin: 0 0 1.5rem;
	background-color: #7F002B;
	background-image: linear-gradient(to bottom, #7F002B, #571062);
	border-radius: 6px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
	color: #FFFFFF;
	font-weight: lighter;
	border-bottom: 0;
}

.btn2-alt,
.btn2-alt:link,
.btn2-alt:visited {
	margin: 0 0 1.5rem;
	background-color: #5d8432;
	background-image: linear-gradient(to bottom, #5d8432, #3b6210);
}