/*
	Colour Palette
	- Green 1: #529C73 - rgb(82,156,115)
	- Green 2: #3C7D4C - rgb(60,125,76)
	- Blue 1: #537FA7 - rgb(83,127,167)
	- Blue 2: #006991 - rgb(0,105,145)
	- Blue 3: #314A67 - rgb(49,74,103)
	- Blue 4: #003239 - rgb(0,50,57)
	- Yellow: #E8B254 - rgb(232,178,84)
	- Light Brown: #F5F5F1 - rgb(245,245,241)
*/
 
@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	background-color: #F5F5F1;
}

/*Navigation*/
a {
	display:block;
	padding: 0.1rem;
	margin-top: 1rem;
}

li {
	display: inline;
	margin-top:2rem;
}

li {
	float:left;
}

a{
	display:block;
}

.grid{
	font: normal 100%/2 'Lato',sans-serif;
	background-color: #fff;
}

.logo{
	width: 90%;
	padding-top: 1rem;
}

/*Form Styling*/
form{
	width:150%;
	margin:0 auto;
}
.search { 
	padding:6px 15px 6px 30px;
	margin:3px; 
}

.input[type=text]{
	color:#bcbcbc;
}

.lighter {
	width:95%;
	height:50px;
	padding:40px 25px;
}

.lighter input[type=text]{
	border:1px solid #d0d0d0;
	background-color:#fcfcfc;
}


.product-info img{
	border: 10px solid #fff;
	box-shadow: 0 1px 5px #888888;
	margin:5px;
}

.grid h2{
	color:#3E618C;
}

.grid p{
	color:#313131;
}

footer p{
	color:#3E618C;
}

.list-group{
	padding-left: 5%;
}

.ir {
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

.img-flex {
	display: block;
	width: 100%;
}

ul li{
	display:block;
	list-style:none;
}

.margin{
	margin-bottom: -2rem;	
	
}
.social li a,
.social li a:link,
.social li a:visited{
	display: inline-block;
	float: left;
	width: 40px;
	height: 40px;
	margin-right: 1rem;
	text-align:center;
	padding-top: 0.6125rem;
	color:3E618C;
	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	
	color: #fff;	
	
	-webkit-box-shadow: inset 0px 0px 0px 40px #006991;
	-moz-box-shadow: inset 0px 0px 0px 40px #006991;
	-ms-box-shadow: inset 0px 0px 0px 40px #006991;
	-o-box-shadow: inset 0px 0px 0px 40px #006991;
	box-shadow: inset 0px 0px 0px 40px #006991;
}

.social li a:hover,
.social li a:focus,
.social li a:active{
	-webkit-box-shadow: inset 0px 0px 0px 3px #E8B254;
	-moz-box-shadow: inset 0px 0px 0px 3px #E8B254;
	-ms-box-shadow: inset 0px 0px 0px 3px #E8B254;
	-o-box-shadow: inset 0px 0px 0px 3px #E8B254;
	box-shadow: inset 0px 0px 0px 3px #E8B254;
	color: #E8B254;
}

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display:block;
}