@charset "UTF-8";
/* CSS Document */

html{
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-text-size-adjust: 100%;
}

img{
	width:100%;
}

.logo{
	float:left;
	width: 150px;
	margin-left: 5%;
}