@charset "UTF-8";
/* CSS Document */

.media{
	background-color: #fff;
	border-style:solid;
	border-width:10px;
	border-color:#fff;
	box-shadow: 1px 1px 5px #888888;
	border-radius: 8px ;
	padding: 1em;
}

.media-img{
	padding-right: 3%;
}

.promo-small {
	background-color: #fff;
	box-shadow: 1px 1px 1px #888888;
	border-radius: 8px ;
}
