# Accessibility Testing Report

User testing was conducted by {Pedro Cardoso dos Santos} on {April 2, 2014} between the times of {3:30pm} and {5:15pm} with the following participants:

- {Katie Situ}
- {Amanda Sparks}
- {Thalia Bacilio}
- {Anita Chantavong}
- {Melissa Roy}
- {Rebecka Cole}

## Tasks

1. {Find information about the company}
2. {Use the search bar and search for anything}
3. {Purchase the promo 1 item}

---

## Individual Results & Observations

### {Katie Situ}

- {User had no problems and completed the task as expected…}
- {User would like the search bar to be a little bigger}

### {Amanda Sparks}

- {User had no problems and completed the task as expected…}
- {User went first to products page and then went back to home page to purchase promo}

### {Thalia Bacilio}

- {User had no problems and completed the task as expected…}
- {User would like the buttons of the promo items to have something written specific about the promo item she is purchasing}

### {Anita Chantavong}

- {User had no problems and completed the task as expected…}
- {User would like the search name on the search bar to have a brighter colour}

### {Melissa Roy}

- {User had no problems and completed the task as expected…}
- {User would like the promo image to be clickable in order to purchase the item without having to go to the button purchase}

### {Rebecka Cole}

- {User had no problems and completed the task as expected…}
- {User sugested to increase the size of the social media icons for better visibility}
- {User would like to see the search name with a brighter colour}

---

## Trends
- {Everyone thinks the website has just enough text to make it easily torough the tasks}

### Critical, Needs Fixing, Unable to Complete

- {Several participants think the search bar should be a little bigger and that the search name should be of a brighter colour}

### Serious, Causes Frustration, May Hinder Completion


### Minor, Annoying, Won’t Hinder Completion

- {Search bar is at the bottom of the website instead of the top and should be a little more noticeable}
- {Promo items on the main page should have a little more description of what is it about}