---
layout: default
title: Search
---

<ul>
	{% for product in site.pages %}
		{% if product.category == 'tshirts' %}
			<li>
				<a href="{{site.baseurl}}{{product.url}}">
					<img src="{{site.baseurl}}/images/{{product.image}}" alt="tshirts">
					{{product.name}}
			</li>
		{% endif %}
	{% endfor %}
</ul>

<ul>
	{% for product in site.pages %}
		{% if product.category == 'gloves' %}
			<li>
				<a href="{{site.baseurl}}{{product.url}}">
					<img src="{{site.baseurl}}/images/{{product.image}}" alt="gloves">
					{{product.name}}
			</li>
		{% endif %}
	{% endfor %}
</ul>