---
layout: default
title: Search
---

<ul>
	{% for product in site.pages %}
		{% if product.category == 'tshirts' %}
			<li>
				<a href="{{site.baseurl}}{{product.url}}">
					<div class="productname mega">
						<h3>{{product.name}}</h3>
					</div>
					"<img class="unit-s-1 unit-m-2-3 unit-l-1-2 imgborder" src="{{site.baseurl}}/images/{{product.image}}" alt="tshirts">
					<div class="unit-s-1 unit-m-1 unit-l-1">
						<a class="btn small productname" href="{{site.baseurl}}/cart">BUY NOW!</a>
					</div>
			</li>
		{% endif %}
	{% endfor %}
</ul>

<ul>
	{% for product in site.pages %}
		{% if product.category == 'gloves' %}
			<li>
				<a href="{{site.baseurl}}{{product.url}}">
					<div class="productname mega">
						<h3>{{product.name}}</h3>
					</div>
					<img class="unit-s-1 unit-m-2-3 unit-l-1-2 imgborder" src="{{site.baseurl}}/images/{{product.image}}" alt="gloves">
					<div class="unit-s-1 unit-m-1 unit-l-1">
						<a class="btn small productname" href="{{site.baseurl}}/cart">BUY NOW!</a>
					</div>
			</li>
		{% endif %}
	{% endfor %}
</ul>