# User Testing Report

User testing was conducted by {Pedro Cardoso dos Santos} on {March 26, 2014} between the times of {3:12pm} and {3:34pm} with the following participants:

- {Katie Situ}
- {Amanda Sparks}
- {Rebecka Cole}

## Tasks

1. {Find T-Shirt N.3}
2. {Purchase One Promo Item}
3. {Find Information about the company}

---

## Individual Results & Observations

### {Katie Situ}

- {She clicked on the links as expected.}
- {Had no troubles on finding the tasks requested.}
- {Found very easy to navigate the website.}
- {User goes to product menu to find the products.}
- {User clicks on About menu to find information related to the company.}

### {Amanda Sparks}

- {She clicked on the links as expected except she went one more step to find the t-shirt 3.}
- {Had no troubles on finding the tasks requested.}
- {Found very easy to navigate the website.}
- {User goes to product menu to find the products.}
- {User clicks on About menu to find information related to the company.}

### {Rebecka Cole}

- {Had trouble on finding T'shirt N.3}
- {Clicked on the image to purchase instead on the button purchase.}
- {Found very easy to navigate the website.}
- {User goes to product menu to find the products.}
- {User clicks on About menu to find information related to the company.}
---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {Placement of buttons in relation to the description of the product}
- {Padding and Margins need to be fixed}

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed at finding the T-shirt N.3}

### Minor, Annoying, Won’t Hinder Completion

- {Placement of the buttons in relation to the description of the items needs to be fixed.}
