---
layout: default
title: Products
---
<div class="productmargin">
	<nav>
		<ul>
			<li><a class="{% if page.url contains 'tshirts' %}current{% endif %} tera productname" href="{{site.baseurl}}/products/tshirts">Tshirts</a></li>
			<li><a class="{% if page.url contains 'gloves' %}current{% endif %} tera productname" href="{{site.baseurl}}/products/gloves">Gloves</a></li>
		</ul>
	</nav>
	
	<main role="main">
		<div class="grid">
			<div class="unit unit-s-1 unit-m-1 unit-l-1">
				<h1>Tshirts and Gloves!</h1>
			</div>
			<div class="unit unit-s-1 unit-m-1 unit-l-1">
				<p>The best products for gardeners</p>
			</div>
		</div>
		
		<ul>
			{% for product in site.pages %}
				{% if product.category == 'tshirts' %}
					<li>
						<a href="{{site.baseurl}}{{product.url}}">
							<div class="productname tera">
								{{product.name}}
							</div>
							<img src="{{site.baseurl}}/images/{{product.image}}" alt="tshirts">
					</li>
				{% endif %}
			{% endfor %}
		</ul>
		
		<ul>
			{% for product in site.pages %}
				{% if product.category == 'gloves' %}
					<li>
						<a href="{{site.baseurl}}{{product.url}}">
							<div class="productname tera">
								{{product.name}}
							</div>
							<img src="{{site.baseurl}}/images/{{product.image}}" alt="gloves">
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</main>
</div>